$peach: #fe640b;
$sky: #04a5e5;
$blue: #1e66f5;
$text: #4c4f69;
$base: #eff1f5;
$mantle: #e6e9ef;
$crust: #dce0e8;

/* $peach: #ef9f76; */
/* $sky: #99d1db; */
/* $blue: #8caaee; */
/* $text: #c6d0f5; */
/* $base: #303446; */
/* $mantle: #292c3c; */
/* $crust: #232634; */

/* $peach: #f5a97f; */
/* $sky: #91d7e3; */
/* $blue: #8aadf4; */
/* $text: #cad3f5; */
/* $base: #24273a; */
/* $mantle: #1e2030; */
/* $crust: #181926; */

/* $peach: #fab387; */
/* $sky: #89dceb; */
/* $blue: #89b4fa; */
/* $text: #cdd6f4; */
/* $base: #1e1e2e; */
/* $mantle: #181825; */
/* $crust: #11111b; */

* {
  font-family: 'Lato', san-serif;
  font-size: 15px;
  margin: 0px;
}

ul {
  list-style-type: disc;
  margin: 10px 0px 10px 0px;
}

li {
  margin: 5px 0;
}

body {
  background-color: $base;
}

/* ========================== Common ========================== */
.cv-container {
  width: 794px;
  border-radius: 5px;
  margin: 20px auto;
  padding: 20px 25px;
  background-color: $mantle;
  color: $text;
  box-shadow: 0 0 10px rgba($text, 0.3);
}

.section-title {
  color: $sky;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.separate-line {
  height: 1px;
  margin-top: 15px;
  background-color: $sky;
}

.clickable-link {
  color: $text;
  text-decoration: none;

  &:hover {
    color: $blue;
    text-decoration: underline;
  }
}

.icon {
  color: $peach;
}

.highlight-text {
  font-size: 16px;
  font-weight: bold;
}

/* ========================== Components ========================== */
.summary,
.education,
.experience,
.skill,
.project,
.language,
.interest {
  margin-top: 10px;
  margin-bottom: 10px;

  &-item {
    margin-bottom: 10px;
  }
}

/* -------------------------- Contact Info -------------------------- */
.contact {
  &-layout {
    display: flex;
    flex-wrap: wrap;
  }

  &-fullname {
    color: $text;
    font-size: 25px;
  }

  &-job-title {
    font-size: 17px;
  }

  &-item {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 6px 0px;
  }

  &-mandatory,
  &-optional {
    margin-top: 10px;
  }
}

/* -------------------------- Summary -------------------------- */

.summary {
  &-content {
    line-height: 1.2;
    white-space: pre-wrap;
    text-align: left;
    /* margin-top: 5px; */
  }
}

/* -------------------------- Education -------------------------- */
.education {
  &-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    width: 100%;

    &-left {
      justify-self: start;
      text-align: left;
    }

    &-right {
      justify-self: end;
      text-align: right;
    }
  }

  &-website,
  &-summary {
    margin-top: 5px;
  }

  &-summary {
    line-height: 1.2;
    white-space: pre-wrap;
    text-align: left;
  }
}

/* -------------------------- Experience -------------------------- */
.experience {
  &-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    width: 100%;

    &-left {
      justify-self: start;
      text-align: left;
    }

    &-right {
      justify-self: end;
      text-align: right;
    }
  }
}

/* -------------------------- Skills/Languages -------------------------- */
.skill,
.language {
  &-description {
    margin-top: 5px;
  }
}

/* -------------------------- Projects -------------------------- */
.project {
  &-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    width: 100%;
    /* margin-top: 10px; */

    &-left {
      align-items: center;
      justify-self: start;
      text-align: left;
    }

    &-right {
      justify-self: end;
      text-align: right;
    }
  }

  &-keywords,
  &-description,
  &-source-code,
  &-demo,
  &-website {
    margin-top: 5px;
  }
}

/* -------------------------- Interests -------------------------- */

.interest {
  &-item {
    font-weight: bold;
    margin-top: 5px;
  }
}
