$text-color: #4c4f69;
$base-color: #eff1f5;
$icon-color: #fe640b;
$section-color: #04a5e5;
$link-hover-color: #1e66f5;

* {
  font-family: 'Lato', san-serif;
  font-size: 15px;
  margin: 0px;
}

ul {
  list-style-type: disc;
  margin: 5px 0px 15px 0px;
}

/* ========================== Common ========================== */
.cv-container {
  width: 794px;
  margin: 20px auto;
  padding: 20px 25px;
  background-color: $base-color;
  color: $text-color;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.section-title {
  color: $section-color;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.separate-line {
  height: 1px;
  margin-top: 15px;
  background-color: $section-color;
}

.external-link {
  color: $text-color;
  text-decoration: none;

  &:hover {
    color: $link-hover-color;
    text-decoration: underline;
  }
}

.icon {
  color: $icon-color;
}

.highlight-text {
  font-size: 16px;
  font-weight: bold;
}

/* ========================== Components ========================== */
.summary,
.education,
.skill,
.project,
.language,
.interest {
  margin-top: 15px;

  &-item {
    margin-top: 10px;
  }
}

/* -------------------------- Contact Info -------------------------- */
.contact {
  &-layout {
    display: flex;
    flex-wrap: wrap;
  }

  &-fullname {
    color: $text-color;
    font-size: 25px;
  }

  &-job-title {
    font-size: 17px;
  }

  &-item {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 6px 0px;
  }

  &-mandatory,
  &-optional {
    margin-top: 10px;
  }
}

/* -------------------------- Summary -------------------------- */

.summary {
  &-content {
    line-height: 1.2;
    white-space: pre-wrap;
    text-align: left;
    margin-top: 10px;
  }
}

/* -------------------------- Education -------------------------- */
.education {
  &-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    width: 100%;

    &-left {
      justify-self: start;
      text-align: left;
    }

    &-right {
      justify-self: end;
      text-align: right;
    }
  }

  &-website,
  &-summary {
    margin-top: 5px;
  }

  &-summary {
    line-height: 1.2;
    white-space: pre-wrap;
    text-align: left;
  }
}

/* -------------------------- Skills/Languages -------------------------- */
.skill,
.language {
  &-description {
    margin-top: 5px;
  }
}

/* -------------------------- Projects -------------------------- */
.project {
  &-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    width: 100%;

    &-left {
      align-items: center;
      justify-self: start;
      text-align: left;
    }

    &-right {
      justify-self: end;
      text-align: right;
    }
  }

  &-keywords,
  &-description,
  &-source-code,
  &-website {
    margin-top: 5px;
  }
}

/* -------------------------- Interests -------------------------- */

.interest {
  &-item {
    font-weight: bold;
    margin-top: 5px;
  }
}
